*.docx
*.pptx
*.ppt
*.doc
*.htm

*/.DS_Store
*.DS_Store

/Papers/*
/BRIAN/*
BRIAN
Papers

*Assignment 1 Report.pdf
*/Chacron Assignment.pdf
*/Assignment-Baker.pdf
*Assignment-Baker.pdf
*assignment.pdf
*CellAssemblies.pdf
*Slides.pdf
*Handout.pdf
*Lecture.pdf
*saccades64.pdf

*MLM_demo.mat